.menu {
    width: 90%;
    height: auto;
}
.ref-link {
    float: right;
    margin-right: 20px;
    text-decoration: none;
    font-size: 18px;
}

.ref-link:hover {
    text-decoration: underline;
}

.greeting, .welcome {
    text-align: center;
    font-size: 20px;
}
.greeting {
    margin: 0 auto;
    width: 70%;
}

.error, .welcome, .err-flag {color: #FF0000;}

.submit {
    border: none;
    height: 30px;
    width: 245px;
    color: #FFFFFF;
    background-color: #59ADDF;
    font-size: 18px;
}

.submit:hover {
    color: #FFFFFF;
    background-color: #009EE1;
}

.reg_form {
    margin-left: 40%;
}

.reg_form input:not(.gender) {
    width: 241px;
    height: 30px;
    font-size: 16px;
    border: none;
    border-bottom: solid #009EE1 1px;
}

.reg_form label {
    font-size: 17px;
}

.data-input {
    margin-bottom: 20px;
}

.footer-link {
    text-decoration: none;
}

.wrapper {text-align: center;}

.footer-link:hover {
    text-decoration: underline;
}

.left-flag {
    visibility: hidden;
}


@media (max-width: 768px) { 
    .reg_form {
        margin-left: 0;
    }

    .reg_form input:not(.gender), .submit, .reg_form .error:not(.error-gender) {
        width: 80%;
        margin: 0 auto;
        display: block;
    }

    .error-gender {
        width: 95%;
        margin: 0 auto;
        display: block;
    }

    .wrapper-gender {
        width: 80%;
        margin: 0 auto;
    }
    .right-flag {
        display: none;
    }
    .left-flag {
    visibility: visible;
}

}
